:root {
    --font-heading :'Playfair Display';
    --font-paragraph:'Poppins', sans-serif;
    --primary-color: #F9F7FE;
    --secondary-color:#6C63FF;
    --third-color:black;
}
body {
    font-family: var(--font-paragraph);
}
@media (max-width:900px){
    
    h1 {
            font-size: 44px;
            line-height: 2;
        }
    h2 {
        font-size: 44px;
    }
    .top {
        padding:80px 20px;
    }
    .description {
        text-align: center;
        padding :0;

    }
    .about-top {
        text-align: center;
        padding:10px 20px;
    }
}

h1 {
    font-family: var(--font-heading); 
    font-size: 96px;
    font-weight: bold;
    line-height: 1,5;
    color:var(--third-color)
   
}
h2 {
    font-family:var(--font-paragraph);
    font-size: 24px;
    line-height: 1.5;
    font-weight:normal;
    padding-top: 24px;
}
p {
    font-family:var(--font-paragraph); 
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
   
}

.btn-bandary {
    display: inline-block;
    background:var(--secondary-color);
    color: white;
    padding:15px 25px;
    font-size: 20px;
    width: 175px;
}

.description h2 {
    font-size :65px;
    font-family: var(--font-heading);
    color:var(--third-color);
}
.description p {
    font-weight:450;
}

.description a {
    border:1px solid  var(--secondary-color);
    font-family: var(--font-paragraph);
    padding:15px 30px;
    color: var(--secondary-color);
    font-size: 18px;
    border-radius: 4px;



}
.description {
    padding:80px 40px;
}

.top {
    text-align: center;
    background:var(--primary-color);
    width: 1440px 900px;
    padding: 160px 20px;

}

.top p {
    font-family: var(--font-paragraph);
    font-size: 36px;
    line-height: 1,5;
    font-weight: bolder;
    padding-top: 0px;
    padding-bottom: 0px;
}
.about-top {
    padding : 160px 20px;
}
.about-top h1 {
    font-size: 64px;
    line-height: 80px;
}
.about-top h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-paragraph);
    line-height: 1.5;
}
.about-top p {
     font-family:var(--font-paragraph) ;
     font-style: normal;
     font-weight: normal;
     
}

.about-top-content {
    margin:20px;
}

.about-top img {
    border-radius: 20px;
}